<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysHolidayMapper">
    
    <resultMap type="SysHoliday" id="SysHolidayResult">
        <result property="holidayId"    column="holiday_id"    />
        <result property="holidayName"    column="holiday_name"    />
        <result property="holidayDept"    column="holiday_dept"    />
        <result property="holidayResion"    column="holiday_resion"    />
        <result property="holidayDate"    column="holiday_date"    />
        <result property="holidayDay"    column="holiday_day"    />
        <result property="holidayRemark"    column="holiday_remark"    />
    </resultMap>

    <sql id="selectSysHolidayVo">
        select holiday_id, holiday_name, holiday_dept, holiday_resion, holiday_date, holiday_day, holiday_remark from sys_holiday
    </sql>

    <select id="selectSysHolidayList" parameterType="SysHoliday" resultMap="SysHolidayResult">
        <include refid="selectSysHolidayVo"/>
        <where>  
            <if test="holidayName != null  and holidayName != ''"> and holiday_name like concat('%', #{holidayName}, '%')</if>
            <if test="holidayDept != null  and holidayDept != ''"> and holiday_dept = #{holidayDept}</if>
            <if test="holidayResion != null  and holidayResion != ''"> and holiday_resion = #{holidayResion}</if>
            <if test="holidayDate != null "> and holiday_date = #{holidayDate}</if>
            <if test="holidayDay != null "> and holiday_day = #{holidayDay}</if>
            <if test="holidayRemark != null  and holidayRemark != ''"> and holiday_remark = #{holidayRemark}</if>
        </where>
    </select>
    
    <select id="selectSysHolidayById" parameterType="Long" resultMap="SysHolidayResult">
        <include refid="selectSysHolidayVo"/>
        where holiday_id = #{holidayId}
    </select>
        
    <insert id="insertSysHoliday" parameterType="SysHoliday" useGeneratedKeys="true" keyProperty="holidayId">
        insert into sys_holiday
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="holidayName != null  and holidayName != ''">holiday_name,</if>
            <if test="holidayDept != null  and holidayDept != ''">holiday_dept,</if>
            <if test="holidayResion != null  and holidayResion != ''">holiday_resion,</if>
            <if test="holidayDate != null ">holiday_date,</if>
            <if test="holidayDay != null ">holiday_day,</if>
            <if test="holidayRemark != null  and holidayRemark != ''">holiday_remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="holidayName != null  and holidayName != ''">#{holidayName},</if>
            <if test="holidayDept != null  and holidayDept != ''">#{holidayDept},</if>
            <if test="holidayResion != null  and holidayResion != ''">#{holidayResion},</if>
            <if test="holidayDate != null ">#{holidayDate},</if>
            <if test="holidayDay != null ">#{holidayDay},</if>
            <if test="holidayRemark != null  and holidayRemark != ''">#{holidayRemark},</if>
         </trim>
    </insert>

    <update id="updateSysHoliday" parameterType="SysHoliday">
        update sys_holiday
        <trim prefix="SET" suffixOverrides=",">
            <if test="holidayName != null  and holidayName != ''">holiday_name = #{holidayName},</if>
            <if test="holidayDept != null  and holidayDept != ''">holiday_dept = #{holidayDept},</if>
            <if test="holidayResion != null  and holidayResion != ''">holiday_resion = #{holidayResion},</if>
            <if test="holidayDate != null ">holiday_date = #{holidayDate},</if>
            <if test="holidayDay != null ">holiday_day = #{holidayDay},</if>
            <if test="holidayRemark != null  and holidayRemark != ''">holiday_remark = #{holidayRemark},</if>
        </trim>
        where holiday_id = #{holidayId}
    </update>

    <delete id="deleteSysHolidayById" parameterType="Long">
        delete from sys_holiday where holiday_id = #{holidayId}
    </delete>

    <delete id="deleteSysHolidayByIds" parameterType="String">
        delete from sys_holiday where holiday_id in 
        <foreach item="holidayId" collection="array" open="(" separator="," close=")">
            #{holidayId}
        </foreach>
    </delete>
    
</mapper>